.aws
.cache
.ssh
.vscode-server
spotify-airflow-env/
.bash_history
.bash_logout
.bashrc
.profile
.sudo_as_admin_successful
.wget-hsts
.dotnet
*.csv

# Ignore everything in the airflow directory
airflow/*

# Do not ignore the dags directory within airflow
!airflow/dags

# Do not ignore files within the dags directory
!airflow/dags/*